@font-face {                     
    font-family: 'active'; 
    src: url(../fonts/active.LobsterTwo-BoldItalic_0.otf);
    font-style:normal;
}


/* =Reset    
----------------------------------------------- */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}
ol, ul {
    list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
border-collapse: collapse;
border-spacing: 0;
margin-left: 10px;
margin-top: 30px;
width: 95%;
}

th {
    font-weight: bold;
}
th, td {
    border: 1px solid #ccc;
    padding: 0px 6px;
    background:#fff;
    color:#000;
}
caption, th, td {
    text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a:focus {
    outline: none;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
    outline: 0;
    text-decoration:none;
}
a img {
    border: 0;
}
embed, iframe, object {
    max-width: 100%;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}

input:focus, a:visited {
    outline:0!important;
    box-shadow:0 0 0 #000!important;    
}

img{ 
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier*/
} 

p{
    font-size: 16px;
    line-height:1.6;
}

h3{
    font-size: 20px;
    color: #333333;
}

h2{
    font-size: 22px;
    text-transform: capitalize;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 15px 0;
}
h2::after  {
    background: #ff5400 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    margin: 10px 0;
    position: relative;
    width: 100%;
    max-width: 100%;
}

/* =------------------------------GLOBAL-------------------------------------- */

body {
    font-family: 'Roboto', sans-serif;
    background:#fff;    
}
.container{
    width: 1170px;
    max-width: 100%;
}

/* = Header (logo, ph-num, menu)
--------------------------------*/ 
/*header wrapper*/ 
#header-wrapper {
    border-bottom: 1px solid #616b76;
    padding: 13px 0;
}
.pre-header li {
    padding-left: 11px;
    padding-right: 15px;
    border-right: solid 1px #616b76;
}
.list-inline > li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #616b76;
}
.additional-nav li:last-child {
    padding-right: 0;
    border: none;
}
.list-unstyled.list-inline.pull-right > li > a {
    color: #616b76;
}
.additional-shop-info > ul > li{
    display: inline-block;
    margin-right: 20px;
}
.additional-shop-info > ul > li > a > i{
    color: #616b76;
}
.additional-shop-info > ul > li:last-child {
    margin-right: 0;
}
.additional-shop-info > ul > li > span {
    margin-left: 10px;
    color: #616b76;
}
.list-unstyle > li > a{
    color: #616b76;
}

/*navigation*/
#header-bottom {
    padding: 15px 0 22px 0;
}
.logo {
    margin-top: 25px;
}
#logo{
    float: left;
}
.nav-holder.text-center {
    padding: 40px 0px;
}

.main-navigation ul{
    float: right;
    margin-top: 15px;
}
.main-navigation ul li {
    display: inline-block;
    margin-right: 12px;
    margin-left: 12px;
}
.main-navigation ul li a {
    text-transform: capitalize;
    color: #6a6a6a;
}
.main-navigation > ul > li > .active {
    color: #fb752d;
    border-bottom: 2px solid #fb752d;
    padding-bottom: 8px;
}

/* Top Search */
.main-navigation li.menu-search {
    position: relative;
    top: 8px;
}
.main-navigation li.menu-search span.sep {
    top: 0;
    width: 1px;
    height: 26px;
    background: #ccc;
    position: relative;
    margin: 0 18px 0 16px;
    display: inline-block;
}
.main-navigation li.menu-search i {
    color: #333;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: -6px;
    width: 15px;
    height: 15px;
    opacity: 0.6;
}
.main-navigation li.menu-search i:hover {
    color: #e02222;
    background-position: 0 -15px;
}

.main-navigation .search-box {
    right: -7px;
    top: 100%;
    padding: 15px;
    display: none;
    background: #fcfafb;
    position: absolute;
    border-top: solid 2px #ea4c1d;
    box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
    width: 274px;
    margin-top: 0;
    z-index: 22;
}
.main-navigation .search-box:after { 
    top: -8px;
    width: 0; 
    height: 0;
    right: 8px;
    z-index: 2; 
    content: " "; 
    display: block; 
    position: absolute;
    border-bottom: 8px solid #e6400c;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.main-navigation .search-box button {
    margin-left: 0 !important;
}

.cart-header {
    margin-top: 19px;
    z-index: 9;
}
.header .top-cart-block {
    float: right;
    margin-top: 30px;
    position: relative;
    font: 400 13px 'Open Sans', Arial, sans-serif;
}
.top-cart-info {
    background: #717171;
    color: #595f65;
    border: solid 1px #ececec;
    border-radius: 16px !important;
    /*float: left;*/
    padding: 8px 39px 6px 13px;
    line-height: 1.2;
}
.top-cart-info a {
    color: #fff;
}
/*.top-cart-info-count {
    float: left;
}*/

.top-cart-info-value {
    border-left: solid 1px #a5aab0;
    margin-left: 5px;
    padding-left: 5px;
}
.top-cart-block .fa-shopping-cart {
    background: #e84d1c;
}
.top-cart-block .fa-shopping-cart {
    position: absolute;
    top: 0;
    right: 0;
    background: #e84d1c;
    color: #fff;
    padding: 8px 9px 9px;
    border-radius: 16px !important;
    font-size: 16px;
}
/*hover*/
.top-cart-block:hover .top-cart-content {
    display: block;
}
.top-cart-content {
    border-top: solid 2px #ea4c1d;
}
.top-cart-content {
    padding: 8px 0 10px;
    background: #fcfafb;
    border-top: solid 2px #ea4c1d;
    box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
    width: 364px;
    margin-top: 12px;
    color: #717880;
    display: none;
    position: relative;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
.top-cart-content .scroller {
    overflow: hidden;
}
.top-cart-content ul {
    margin: 0;
    padding: 0 8px;
}
.top-cart-content li {
    list-style: none;
    margin: 0;
    padding: 9px 0;
    border-bottom: solid 1px #f2f2f2;
    width: 100%;
    overflow: hidden;
}
.top-cart-content .text-right {
    margin-right: 8px;
    padding-top: 10px;
}
.top-cart-content .btn-default {
    color: #fff;
    border: 1px solid #c1cad3;
    background: #c1cad3;
    margin-right: 4px;
}
.top-cart-content .btn {
    font-size: 11px;
    padding: 8px 12px 7px;
}
.btn-primary {
    background: #e94d1c;
}
.del-goods {
    background: #d7dde3 url(../images/del-goods.png) no-repeat 50% 50%;
}
.del-goods, .add-goods {
    width: 17px;
    height: 17px;
    color: #fff !important;
    border-radius: 22px !important;
    float: right;
    margin: 10px 0 0 5px;
    line-height: 1;
    font-size: 12px;
}
.top-cart-content-wrapper {
    position: absolute;
    right: 0;
}
/*banner*/
#owl-demo{
    display: inline-block;
    overflow: hidden; 
}
.caradul-wrapper .owl-prev::before {
    content: "\f104";
}
.caradul-wrapper .owl-next::before {
    content: "\f105";
}
.caradul-wrapper .owl-prev::before, .caradul-wrapper .owl-next::before {
    color: #000;
    font-family: "fontawesome";
    font-size: 30px;
}
.owl-theme .owl-nav [class*="owl-"] {
    font-size: 0px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
}

.caradul-wrapper .owl-nav {
    position: absolute;
    top: 295px;
    width: 100%;
}

.caradul-wrapper .owl-prev {
    float: left;
    margin-left: 80px !important;
}
.caradul-wrapper .owl-next {
    float: right;
    margin-right: 80px !important;
}

.owl-prev,
.owl-next  {
    background: #fff !important;
    width: 40px;
}
/*banner position*/
.banner-text {
    position: absolute;
    z-index: 99999;
    /*background: rgba(0,0,0, 0.30);*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10%;
}
.banner-text h1{
    font-size: 70px;
    color: #fff;
    font-weight: bold;
}
.banner-text h2 {
    font-size: 35px;
    color: #000;
    font-weight: bold;
    margin: 28px 0 53px;
}
.banner-text a {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    background: #ff5400;
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
}

/*slider css of carazol 1 muki rudrakxya*/
#rudrax-wrapper {
    margin: 20px 0 40px;
}
.slider-holder .owl-prev::before {
    content: "\f104";
}
.slider-holder .owl-next::before {
    content: "\f105";
}
.slider-holder .owl-prev::before, .slider-holder .owl-next::before {
    color: #fff;
    font-family: "fontawesome";
    font-size: 30px;
}
.rudrakxya-inn_header {
    background: #eae9e8;
    padding-bottom: 15px;
}
.slider-holder .owl-theme .owl-nav [class*="owl-"] {
    font-size: 0px;
    margin: 5px;
    padding: 4px 7px;
    background: #ff5400 !important;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
}

.slider-holder .owl-nav {
    position: absolute;
    top: 170px;
    width: 100%;
}
.slider-holder .owl-prev {
    float: left;
    margin-left: 10px !important;
}
.slider-holder .owl-next {
    float: right;
    margin-right: 10px !important;
}
.product-item {
    background: #fff;
    padding: 6px;
    border: 1px solid #ccc;
}
.product-item h3 {
    font-size: 18px;
    margin: 10px 0 5px 0;
}
.product-item span {
    font-size: 18px;
    margin-bottom: 4px;
    margin-top: 0px;
    display: inline-block;
}

.product-item a {
    font-size: 18px;
    margin-bottom: 4px;
    margin-top: 0px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background: #ff5400;
    padding: 10px 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}

/*pagenation*/
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0 20px;
    border-radius: 4px;
}
.pagination > .active > a {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #ff5400;
    border-color: #ff5400;
}
.pagination > .active > a:hover {
    border-color: #286090;
}
.bs-example {
    text-align: center;
}
.pagination > li > a, .pagination > li > span,
.pagination > .disabled > a{
    color: #000;
}

/*footer*/
#footer-wrapper {
    background: #313030;
    color: #fff;
    margin-top: 20px;
    padding: 40px 0 20px;
}
.pre-footer-col h3{
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}
.pre-footer-col {
    padding-bottom: 22px;
}
.list-unstyled > li > a{
    margin-left: 5px;
    color: #fff;
    text-transform: capitalize;
    line-height: 25px;
}
.footer-address span, .footer-address a{
    display: block;
    color:#fff;
    line-height:18px;
    text-decoration:none;
}

.footer-address > span, .footer-address a{
    position: relative;
    padding-left: 0px;
    
}

.footer-address > span::before, .footer-address a::before{
    font-family:"fontawesome";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
}

.footer-address > span {
    padding-left: 34px;
}

.location::before{
    content: "\f041";
}

.tel::before{
    content: "\f095";
}

.email::before{
    content: "\f0e0";
}

.list-unstyled li:hover {
    margin-left: .5em;
    webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
}

/* subscribe */
.subscrive-bottom h3{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px;
}
.pre-footer-subscribe-box input {
    border-radius: 0;
}
.btn-primary {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
}
/*copy right*/
#copy-right {
    background: #272626;
    color: #fff;
    padding: 15px 0;
}


/*=========================
  Icons
 ================= */

/* footer social icons */
.copyright-right {
    text-align: right;
}
.copyright-left p{
    margin-top: 10px;
}
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    background: #3e3d3d;
}
.social-circle li i {
    margin:0;
    line-height:40px;
    text-align: center;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}

.banner-text a:hover,
.product-item a:hover,
.pagination > .active > a:hover {
    background: #286090;
    transition: all 0.3s ease 0.2s;
}

/*ruddrax detail page*/
.breadcrumb {
    background: rgba(0, 0, 0, 0);
    margin-top: 45px;
}
.breadcrumb > .active {
    color: #ff5400;
}
.breadcrumb > li > a {
    color: #000;
}
#breadcom-wrapper {
    background: url(../images/breadcom.jpg);
    z-index: 1;
    height: 200px;
    margin: 0 auto;
    color: #fff;
    background-size: cover;
    position: relative;
}
/*css for zoom*/

.product-main-image {
    margin-bottom: 20px;
}
.product-other-images a.active img {
    box-shadow: 0 0 0 2px #c7ced5;
}
.product-other-images img {
    width: 70px;
    height: auto;
    margin: 0 12px 12px 0;
}
.product-main-image img {
    width: 100%;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.product-pop-up {
    padding: 0;
    overflow-x: hidden;
    background: inherit;
}
.product-page {
    background: #fff;
    padding: 22px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 20px;
}
/*end css for zoom*/
.input-text.qty.text {
    width: 20%;
    padding: 1px 4px 1px 9px;
}
.price h3 {
    margin: 0px;
    float: left;
    display: inline-block;
    padding: 15px 15px 15px 0;
}
.price span {
    margin: 0 10px;
    line-height: 25px;
}
.price strong {
    font-weight: 600;
}
.funkyradio h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 90%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 3em;
  text-indent: 3.8em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 3em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

/*tab of detail  page*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #fff;
    background-color: #ff5400;
}
.tab-wrapper{
    background: #eae9e8;
    padding-bottom: 30px;
    margin-bottom: 20px;
        padding-left: 18px;
}
.nav-tabs {
    border-bottom: 1px solid #ff5400;
    margin-top: 3px;
    padding-bottom: 1px
}
.nav-tabs > li > a {
    margin-right: 10px;
    background: #fff;
    color: #000;
    border-radius: 0px;
    padding: 9px 35px;
}
.tab-detail{
    margin: 5px 0 0 10px
}
.tab-benefit {
    margin-top: 10px;
    margin-left: 10px;
}
.tab-benefit > li {
    text-transform: capitalize;
    line-height: 26px;
}
.tab-header {
    margin: 10px 10px 0;
}
form {
    margin-left: 15px;
    margin-top: 14px;
}
#author,
#email,
#comment {
    width: 90%;
    padding: 6px;
}
label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}


/*cart page*/
.goods-data {
    background: #eae9e8;
    padding: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
    margin-right: 10px;
}
.goods-data table {
    width: 100%;
}
.goods-data th {
    text-transform: uppercase;
    border-bottom: solid 1px #e94d1c;
    padding: 16px 10px;
    border-right: 0px solid #fff;
    border-left: 0px solid #fff;
}
.goods-data td {
    vertical-align: center;
    padding: 20px 20px 20px 0;
    border-bottom: solid 1px #e94d1c;
    border-right: 0px solid #fff;
    border-left: 0px solid #fff;
}
.goods-page-image {
    width: 105px;
}
.goods-page-image img{
    width: 75px;
    margin: 0 0 0 15px;
}
.goods-page-price strong, 
.goods-page-total strong {
    color: #e84d1c;
    font-size: 16px;
    font-weight: normal;
}
.goods-page-price strong span,
.goods-page-total strong span {
    font-size: 17px;
}
.goods-data h3 {
    text-transform: inherit;
    padding: 0;
    margin: 0 0 5px;
}
.goods-data p {
    margin-bottom: 2px;
}
.goods-data a {
    color: #e6400c;
    font-size: 18px;
    text-decoration: none;
}
.goods-page-description em {
    display: block;
    font-style: normal;
}
.goods-page .btn-default {
    float: left;
    border: 1px solid #5ea8dc;
    background: #5ea8dc;
    color: #fff;
}
.goods-page .btn-default:hover {
    border: 1px solid #408cc2;
    background: #408cc2;
}
.goods-page .btn-primary {
    float: right;
    margin-right: 10px;
}

.goods-data .del-goods {
    margin-top: 4px;
}

.shopping-total {
    width: 375px;
    float: right;
    padding-top: 9px;
    color: #3e4d5c;
}
.checkout-total-block {
    margin-bottom: 20px;
}
.shopping-total ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.shopping-total li {
    border-bottom: solid 1px #ecebeb;
    width: 100%;
    overflow: hidden;
    padding: 9px 0;
}
.shopping-total li:last-child {
    border-top:1px solid #000;
}
.shopping-total em {
    font: 18px 'PT Sans Narrow', sans-serif;
    float: left;
    text-transform: uppercase;
    position: relative;
    top: 2px;
}
.shopping-total strong {
    color: #e84d1c;
    font-size: 18px;
    font-weight: normal;
    float: right;
}
.shopping-total strong span {
    font-size: 17px;
}
.shopping-total-price {
    font-weight: bold;
}
.shopping-total-price strong {
    font-weight: bold;
}
.coupon.form-inline {
    margin-top: 20px;
}
.Shopping.cart {
    margin-left: 0px;
}
.table-wrapper-responsive {
    padding-bottom: 19px;
    background: #fff;
}
/*css for plus and minus*/
.count-input input {
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
  height: 35px;
  float: left;
}
.goods-page-quantity.count-input.space-bottom {
    width: 120px;
}
.quantity {
    padding: 15px 0;
}
.incr-btn {
    width: 20%;
    height: 20%;
    border: 1px solid #ccc;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0px 0px 0px 3px;
}

.count-input input {
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
  height: 35px;
  float: left;
  padding: 0;
}

/*contact page*/
.adv-inner-page-slider-content.contact-page-content-holder {
    background: #eae9e8;
    padding: 25px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.group            { 
  position:relative; 
  margin-bottom:20px; 
  width: 50%;
  float: left;
}
.group.group1 {
    width: 100%;
}
textarea.form-control {
    height: 250px;
    width: 97.5%;
    padding-top: 20px;
    font-size: 17px;
    color: #000;
}
input,
textarea               {
    font-size: 18px;
    padding: 15px 10px 15px 5px;
    display: block;
    width: 95%;
    border: none;
    border: 1px solid #757575;
}
input:focus,
textarea:focus{
 outline:none; 
}
label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label, textarea:valid ~ label {
  top:-7px;
  font-size:14px;
  color:#5264AE;
}

.adv-contact-info-text p{
    color: #545454;
    font-size: 16px;
    font-weight: 400;
    margin-bottom:15px;
}
.bar { 
    position:relative; 
    display:block; 
    width:95%; 
}
.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}
input:focus ~ .bar:before, input:focus ~ .bar:after,
textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
  width:50%;
}
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}
.button {
    width: 25%;
    background: #ff5400;
    border: 1px solid #ff5400;
    color: #fff;
}
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
.footer-address.footer-address1 span,
.footer-address.footer-address1 span a {
    color: #545454 !important;
}
/*faq part*/

.panel-body > p {
    margin-top: 15px;
    text-align: left;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.product-detail{
    color: #323232;
    line-height: 30px;
}

.panel-group .panel {
    margin-bottom: 12px;
    border-radius: 4px;
}

.glyphicon {
    position: relative;
    top: -11px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ff5400 ;
    padding: 13px 17px 12px;
    right: -15px;
    border-radius: 0 4px 0 0;
    color: #fff;
}


.fa.fa-map-marker,
.fa.fa-gavel,
.fa.fa-camera {
    color: #323232;
    margin-right: 10px;
}

.panel-body > a {
    text-transform: capitalize;
    margin-top: 20px;
    color: #333333;
    border: 1px solid #ccc;
    padding: 8px 14px;
    display: inline-block;
    margin-bottom: 10px;
}
.accordian-top{
    border-bottom: 5px solid #ff5400 ;
}

.button.secondary1 {
    background: none;
    border: none;
    text-decoration: none;
}
.button.secondary1 img{
    width: 20%;
}
/*user page*/
#user-wrapper {
    margin: 40px 0 30px;
}
.user_fa {
    text-align: center;
    background: #e1e3e4;
}
.user-image img {
    margin: 15px 0;
    width: 75%;
}
.user-name {
    padding: 15px 0 15px 0;
    border-top: 6px solid #ff8400;
    font-size: 20px;
    font-weight: 600;
}
.user-setting {
    background: #ff8400;
}
.user-setting > li{
    color: #fff;
}
.user-setting > li {
    padding: 10px 0;
    border-bottom: 2px solid #e1e3e4;
    font-size: 20px;
    font-weight: 600;
}
.user-setting > li >a {
    color: #fff;
}
.user-setting > li >i {
    margin: 0 25px 0 20px;
}

.user-right {
    background: #e1e3e4;
}
.user-top {
    border-bottom: 20px solid #fff;
    padding: 20px;
}
.user-details > li {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
}
.user-bottom,
.user-bottom-tight {
    padding-top: 20px;
    padding-left: 33px;
}
.user-bottom-tight {
    padding: 20px 30px 20px 15px;
}
.user-title {
    font-weight: 600;
    padding-bottom: 6px;
    font-size: 22px;
    float: left;
}
.edit-right {
    float: right;
    display: inline-block;
    margin-right: 35px;
    text-transform: capitalize;
    color: #ff8400;
    font-weight: 600;
}
.user-details {
    width: 100%;
    display: inline-block;
}
/*forget password*/
.group.frg_psw1 {
    width: 100%;
}
.creative {
    font-size: 13px;
    margin: 10px 0;
}
.psw-right {
    margin-bottom: 15px;
    display: inline-block;
}
#forgot-wrapper {
    margin: 35px 0 40px 0;
}
.forgot-password{
    background: #eae9e8;
}
/*change password*/
.change-password {
    background: #eae9e8;
    margin: 35px 0 20px 0;
    padding: 15px 10px 35px 15px;
}
.group.frg_psw input[type="text"] {
    width: 97.6%;
}
.group.frg_psw {
    width: 100%;
}

/*delevary page*/
.edit-right.delevary {
    background: #ff8400;
    padding: 10px 25px;
    color: #fff;
}




/*top scroll*/
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 3px;
    right: 98px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-align:center;
    font-size:20px;
    color:#fff;
    white-space: nowrap;
    background:#fb752d ;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
    text-decoration:none;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    text-decoration:none;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

.cd-top i{
    color:#fff;
    font-size: 35px;
    margin-top: 0px;
}

.cd-top i:hover{
    color:#000;

}

.cd-top{
    z-index:1000;
}

@media only screen and (max-width:1024px){
    .main-navigation ul li {
        margin-right: 15px;
        margin-left: 0px;
    }
    .banner-text {
        padding: 1%;
    }
    .slider-holder .owl-nav {
        top: 130px;
    }
    .product-other-images img {
        width: 57px;
    }

}

@media only screen and (max-width:992px){
    .top-cart-info {
        font-size: 15px;
    }
    .slider-holder .owl-nav {
        top: 210px;
    }
}

@media only screen and (max-width:800px){
    .banner-text {
        width: 58%;
    }
    .main-navigation ul li {
        margin-left: 0px;
    }
    .slider-holder .owl-nav {
        top: 193px;
    }
}



@media only screen and (max-width:768px){
    .main-navigation ul li {
        margin-right: 10px;
    }
    .main-navigation ul li a {
        font-size: 13px;
    }
    .caradul-wrapper .owl-nav {
        top: 205px;
    }
    .banner-text h1 {
        font-size: 40px;
    }
    .banner-text h2 {
        font-size: 25px;
        margin: 12px 0 35px;
    }
    .banner-text a {
        font-size: 18px;
    }
    .top-cart-info {
        padding: 8px 0px 6px 0px;

    }
    .top-cart-info a {
        font-size: 13px;
    }
}

  @media only screen and (max-width:767px){
    .cart-header {
        left: 50%;
        position: absolute;
    }
    .top-cart-info {
        padding: 8px 10px 6px 10px;
    }
    .subscrive-bottom h3 {
        margin-bottom: 10px;
    }
    h2 {
        margin: 0px 0 0px;
        padding-top: 16px;
    }

    .main-navigation li.menu-search {
        top: 0;
        padding: 20px 0 10px;
        position: relative;
    }
    .main-navigation li.menu-search span.sep {
        display: none;
    }
    .main-navigation .search-box {
        position: relative;
        right: auto;
        left: 0;
    }
    .main-navigation .search-box:after {
        right: auto;
        left: 0;
    }
    .form-control.top-search {
        width: 100%;
        height: 20px;
    }
    .mean-container .mean-nav ul li:last-child {
        padding-bottom: 20px;
    }
    .menu-search > i{
        color: #fff;
        padding: 10px;
    }
    .funkyradio label {
        width: 100%;
    }
    .user-right {
        margin-top: 20px;
    }
    
    .user-bottom-tight {
        padding: 20px 30px 20px 30px;
    }
}

@media only screen and (max-width:640px){
    .caradul-wrapper .owl-nav {
        display: none;
    }
    .banner-text h2 {
        font-size: 16px;
        margin: 12px 0 25px;
    }
    .banner-text a {
        font-size: 16px;
    }
    .mean-container a.meanmenu-reveal {
        top: 55px;
    }
    .mean-container .mean-nav {
        margin-top: 115px;
    }
    .product-other-images img {
        width: 52px;
    }
    .group {
        width: 100%;
    }
    .group.frg_psw input[type="text"] {
        width: 95%;
    }
    
}
@media only screen and (max-width:480px){
    .cart-header {
        left: 35%;
        position: absolute;
    }
    .banner-text h1 {
        font-size: 25px;
    }
    .slider-holder .owl-nav {
        top: 285px;
    }
    .copyright-right {
        text-align: left;
        margin-top: 15px;
    }
    #comment {
        height: 130px;
    }
    .zoom-left,
    .zoom-right {
        width: 100%;
    }
    .count-input input {
        width: 50%;
    }
    .count-input input {
        width: 30%;
    }
    .incr-btn {
        padding: 0px 0px 0px 2px;
    }
    label {
        font-size: 15px;
    }
    textarea.form-control {
        height: 170px;
    }
}


@media only screen and (max-width:360px){
    .nav-tabs > li > a {
        margin-right: 10px;
        padding: 6px 18px;
    }
    #author, #email, #comment {
        width: 97%;
        padding: 6px;
    }
    .accordion-toggle,
    .panel-body > p,
    .product-detail {
        font-size: 14px;
    }
    .glyphicon {
        top: -10px;
        padding: 13px 16px 13px;
        right: -15px;
    }
    h2 {
        font-size: 18px;
    }
    .button {
        width: 36%;
    }
    input, textarea {
        padding: 10px 10px 10px 5px;
    }
}

@media only screen and (max-width:320px){
   .top-cart-info a {
        font-size: 11px;
    }
    .cart-header {
        left: 42%;
        position: absolute;
    }
    .additional-shop-info,
    .additional-nav {
        width: 100%;
        text-align: center;
    }
    .list-unstyle.list-inline.pull-right {
        margin: 0 auto;
        float: none;
        width: 100%;
        padding-top: 7px;
    }
    .mean-container a.meanmenu-reveal {
        top: 85px;
    }
    .slider-holder .owl-nav {
        top: 210px;
    }
    ul.social-network li {
        margin: 0 3px;
    }
    .top-cart-content {
        margin-right: -60px;
        width: 333px;
    }
    .banner-text h1 {
        font-size: 22px;
    }
    .banner-text h2 {
        font-size: 10px;
        margin: 0px 0 14px;
    }
    .banner-text a {
        font-size: 14px;
        padding: 8px 19px;
    }
    .mean-container .mean-nav {;
        margin-top: 145px;
    }
    h2 {
        padding-top: 10px;
    }
    .subscrive-bottom h3 {
        font-size: 20px;
    }
    .copyright-left p {
        text-align: center;
    }
    .site-logo > img {
        width: 112px;
    }
    .product-other-images img {
        width: 51px;
    }
    .shopping-total {
        width: 100%;
    }
    .goods-data a {
        font-size: 13px;
    }
    .button {
        width: 49%;
    }
    textarea.form-control {
        height: 115px;
    }
    
}



