body{ margin-top:20px; }

.productimage
{
    height: 300px;
    width: 300px;
}
.cappingimage
{
    height: 180px;
    width: 250px;
}
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}