body{ margin-top:20px; }

.productimage
{
    height: 300px;
    width: 300px;
}
.cappingimage
{
    height: 180px;
    width: 250px;
}

.hidden { display: none; }
.formfield { float: left; }
.example-template { clear: left; }


 #mapCanvas {
     width: 750px;
     height: 400px;
     float: left;
 }
#infoPanel {
    float: left;
    margin-left: 10px;
}
#infoPanel div {
    margin-bottom: 5px;
}
